{{ template "base" . }}


{{ define "title" }} RPS web - Sobre nosotros {{ end }}

{{ define "content" }} 

<section>
    <div class="container">
        <div class="row">
            <div class="col py-5">
                <h2 class="py-2">Acerca de Jose BM</h2>
                <p>Excepteur quis sint eu incididunt Lorem eu amet dolor irure. Deserunt irure id labore laboris cupidatat ex cillum nostrud fugiat duis do id. Voluptate consectetur sit velit aliqua nisi ea anim velit cupidatat Lorem. Dolor elit labore anim quis Lorem eiusmod pariatur.</p>
                <p>
                    Qui aute enim sit cupidatat ut id. Veniam culpa consectetur cupidatat sint magna officia adipisicing nulla id exercitation ex nulla. Mollit labore et aute deserunt enim.</p>
                <ul class="py-3">
                    <li>
                        <a>Facebook</a>
                    </li>
                    <li>
                        <a>GitHub</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

{{ end }}